@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: #1A1A1A;
    }

    .jumbotron {
        background-color: #333333;
        color: #FFFFFF;
    }

    a {
        color: #FFFFFF;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Learn about building Web apps with <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a>.</p>
</div>