@page
@model Obligatorisk_OPG.GetAllStudentsModel
@{
    ViewData["Title"] = "GetStudents";
}
<h1>Students</h1>

<p>
    <a asp-page="/Student/GetAllStudents">GetAllStudents New Student</a>
</p>

<form>
    <p>
        Search By Adress: <input type="text" asp-for="AdressCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Student/GetAllStudents">Back to Full List </a>
    </p>
</form>
<form>
    <p>
        Search By Id: <input type="text" asp-for="IdCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Student/GetAllStudents">Back to Full List </a>
    </p>
</form>

<h4 style="color:red"> List of students</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Adress
            </th>
        </tr>
    </thead>
    <tbody>



        @foreach (var student in Model.Students)
        {
            <tr>
                <td>  @student.Student_No </td>
                <td> @student.Name </td>
                <td> @student.Address </td>
                <td>
                    <p>
                        <a asp-page="/Leasing/GetLeasing_Student" asp-page-handler="GetLeasing_Student" asp-route-aid="@student.Student_No"> Show Leasings for Student  </a>
                    </p>
                </td>

            </tr>
        }
</table>
